body {
    margin: 0;
}

.keys-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.key {
    margin: 10px;
    padding: 20px;
    font-size: 4rem;
    border: #d4d800 solid thick;
    border-radius: 20px;
}