html {
    font-size: 10px;
    background: url(https://wallpaperplay.com/walls/full/7/1/d/140044.jpg) bottom center;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

kbd {
    display: block;
    font-size: 4rem;
}

.keys-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.key {
    border: .4rem solid #d4d800;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 5rem 1rem;
    transition: all 0.09s ease;
    width: 5rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}